body, html {
  line-height: 1;
  font-family: "PingFang SC", "STHeitiSC-Light", "Helvetica-Light", Arial, sans-serif, "Droid Sans Fallback";
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: $color-background;
  color: $color-text;
}

.g-relative {
  position: relative;
}